<div class="mt-2">
    <form method="post" action="">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="exampleInputPassword1" placeholder="input search...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>