<div>
    <h1>detail</h1>
    <ul class="couse_list">
        
        <li>name: {{couse.name}}</li>
        <li>age: {{couse.age}}</li>
        <li>code: {{couse.slug}}</li>

    </ul>
</div>
{{!-- <pre>{{{json couse}}}</pre> --}}